<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="IntelywareConnectionString" connectionString="Data Source=SQL5101.site4now.net;Initial Catalog=db_a72c41_0intelyware1;Persist Security Info=True;User ID=db_a72c41_0intelyware1_admin;Password=N_-2YNM4" providerName="System.Data.SqlClient"/>
	<add name="IntelywareConnectionString4" connectionString="Data Source=AI207751\SQL2014EXPRESS;Initial Catalog=Intelyware;Persist Security Info=True;User ID=sa;Password=s@123Password" providerName="System.Data.SqlClient"/>
    <add name="IntelywareConnectionString1" connectionString="Data Source=vaio-pc;Initial Catalog=IntelywareDEV;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>
    <add name="IntelywareConnectionString2" connectionString="Data Source=CUSNWK0I;Initial Catalog=SupplierOnLine;Persist Security Info=True;User ID=SOLWebApp;Password=carrier$" providerName="System.Data.SqlClient"/>
    <add name="IntelywareConnectionString3" connectionString="Data Source=SQL5017.site4now.net;Initial Catalog=db_a45a0e_INTELYWARE;Persist Security Info=True;User ID=DB_A45A0E_INTELYWARE_admin;Password=s@321asd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>